@font-face {
  font-family: 'iconfont';  /* Project id 3395590 */
  src: url('//at.alicdn.com/t/font_3395590_toapd57wbg8.woff2?t=1652853490356') format('woff2'),
       url('//at.alicdn.com/t/font_3395590_toapd57wbg8.woff?t=1652853490356') format('woff'),
       url('//at.alicdn.com/t/font_3395590_toapd57wbg8.ttf?t=1652853490356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}